*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}

section{
    padding:0 5rem;
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}
.left-side{
  width: 50%;  
    
}
.content{
    margin-top: 1rem;
}
h1{
    display:block;
    font-size: 42px;
    padding: 1.8rem 0;
}
span{
    display: inline-block;
    color: #f1c40f;
}
h3{

}
p{
padding: 1rem 0;
}
.left-side a{
    padding: .5rem 2rem;
    text-decoration: none;
    background: linear-gradient(to left, #ff9966, #ff5e62);
    border-radius: .3rem;
    font-weight: 600;
    color: #fff;
}
.right-side{
   width: 45%;
}
img{
  width: 100%;
  height: 100%;
}